@{
    ViewData["Title"] = "Список аукционов";
}

<br />
<div id="inputForm">
    <label>Имя</label><br />
    <input type="text" id="name" /><br /><br />
    <label>Возраст</label><br />
    <input type="number" id="age" /><br /><br />
    <input type="button" id="sendBtn" value="Отправить" />
</div>
<div><p id="response"></p></div>

@section Scripts {
    <script>
        let hubUrl = "/auctionHub";
        const hubConnection = new signalR.HubConnectionBuilder()
            .withUrl(hubUrl)
            .build();

        // получение сообщения от сервера
        hubConnection.on("Receive", function (user) {

            document.getElementById("response").innerText = "Имя: " + user.name + " Возраст: " + user.age;
        });

        // отправка сообщения на сервер
        document.getElementById("sendBtn").addEventListener("click", function (e) {
            let name = document.getElementById("name").value;
            let age = document.getElementById("age").value;

            hubConnection.invoke("Send", { "name": name, "age": age });
            document.getElementById("name").value = "";
            document.getElementById("age").value = "";
        });

        hubConnection.start();
    </script>
}

