<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name="DbConnection"
         connectionString="Server=(localdb)\mssqllocaldb;Database=aspnet-Auctionator-B82B97A9-F7B9-46B8-A633-D821F52C3F98;Integrated Security=True;"
         />
    <add name="StartDateTimeUri"
         connectionString="http://localhost:50321/auction/start"
    />
    <add name="EndDateTimeUri"
         connectionString="http://localhost:50321/auction/end"
    />
    <add name="EndPayDateTimeUri"
         connectionString="http://localhost:50321/auction/end-payment"
    />
    <add name="ApplicationUri"
         connectionString="http://localhost:8888/"
    />
  </connectionStrings>

</configuration>